@use "../../../../../assets/styles/_colors" as colors;
@use "../../../../../assets/styles/_buttons" as buttons;
@use "../../../../../assets/styles/_links" as links;
@use "../../../../../assets/styles/_helpers" as helpers;
@use "../../../../../assets/styles/_break-points" as break-points;

.navigation-container {
  nav {
    .nav-list {
      display: flex;

      li {
        margin-right: 1em;
      }
    }
  }
}
@media (max-width: break-points.$mobile) {
  .navigation-container {
    display: none;
  }
}
