<section class="navigation-container">
  <nav>
    <ul aria-label="Primary" role="list" class="nav-list">
      <li>
        <a
          class="link"
          routerLink="/portfolio"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >{{ "header.nav.portfolio" | translate }}</a
        >
      </li>

      <li>
        <a
          class="link"
          routerLink="/contact-me"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >{{ "header.nav.contactMe" | translate }}
        </a>
      </li>
    </ul>
  </nav>
</section>
