@use "../../../../assets/styles/_colors" as colors;
@use "../../../../assets/styles/_buttons" as buttons;
@use "../../../../assets/styles/_links" as links;
@use "../../../../assets/styles/_helpers" as helpers;

header {
  margin-top: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .navigation-container {
    flex-grow: 0.5;
    nav {
      .nav-list {
        display: flex;

        li {
          margin-right: 1em;
        }
      }
    }
  }
}
