@use "../../../../assets/styles/_colors" as colors;
@use "../../../../assets/styles/_buttons" as buttons;
@use "../../../../assets/styles/_links" as links;
@use "../../../../assets/styles/_helpers" as helpers;
@use "../../../../assets/styles/_break-points" as break-points;

.header {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: break-points.$mobile) {
  .header {
    justify-content: space-between;
    margin-left: 1.5em;
  }
}
