@use "../../../../assets/styles/_colors" as colors;
@use "../../../../assets/styles/_buttons" as buttons;
@use "../../../../assets/styles/_sizes" as sizes;
@use "../../../../assets/styles/_links" as links;
@use "../../../../assets/styles/_helpers" as helpers;

header {
  padding: 1.2rem 0 1.2rem 0;
  background-color: colors.$grey;
  .primary-header {
    padding-top: sizes.$size-700;
  }

  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .display-sm-none {
      display: none;
    }

    @media (min-width: 50em) {
      .display-md-inline-flex {
        display: inline-flex;
      }
    }

    .mobile-nav-toggle {
      display: none;
    }

    .nav-list {
      display: flex;
      gap: clamp(sizes.$size-400, 5vw, sizes.$size-700);
    }

    @media (max-width: 50em) {
      .primary-navigation {
        display: none;

        position: fixed;
        padding: (sizes.$size-700);
        inset: 7rem (sizes.$size-400) auto;
        max-width: 25rem;
        margin-left: auto;
        background: (colors.$white);
        border-radius: (sizes.$size-100);
        box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.05);
      }

      .primary-header[data-overlay]::before {
        content: "";
        position: fixed;
        inset: 0;
        /* height: 100vh; */
        background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8));
      }

      .nav-list {
        display: grid;
        gap: (sizes.$size-600);
        text-align: center;
      }

      .primary-navigation[data-visible] {
        display: block;
      }

      .mobile-nav-toggle {
        display: block;
        position: fixed;
        top: (sizes.$size-600);
        right: (sizes.$size-400);
        cursor: pointer;
        background: transparent;
        border: 0;
        padding: 0.5em;
      }

      .mobile-nav-toggle .icon-close {
        display: none;
      }
    }
  }
}
