<section class="why-choose-me-container">
  <div class="glass-image-container">
    <picture>
      <img src="assets/images/glass-breaking.png" alt="Glass breaking"
    /></picture>
  </div>
  <div class="why-choose-me-text-container">
    <h2 class="why-choose-me-text-heading">WHY CHOOSE MY COURSES ?</h2>

    <ol>
      <li>Task based courses</li>
      <li>Platform that contains everything u want</li>
      <li>Community</li>
      <li>Articles for each lecture</li>
      <li>Major projects per course for your portfolio</li>
    </ol>
  </div>
</section>
