<article class="home-intro-container">
  <section class="promo-text-container">
    <h1>INVEST IN YOUR FUTURE</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo,
      reprehenderit laboriosam sit perferendis maiores dolorem! Doloremque
      cupiditate, nisi quasi dignissimos placeat reiciendis, accusamus aut, sed
      assumenda blanditiis sapiente voluptate itaque!
    </p>
  </section>
  <section class="home-intro-svg-container">
    <figure>
      <img src="assets/svgs/home-intro.svg" alt="" />
    </figure>
  </section>
</article>
