@use "../../../../assets/styles/_headers" as headers;

.home-intro-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .home-intro-svg-container {
    width: 50%;
    margin-left: 1em;
  }

  .promo-text-container {
    width: 50%;
    padding-left: 3em;
    margin-right: 1em;

    margin: 0 auto;
  }
}
