@use "../../../../assets/styles/_headers" as headers;

div.home-intro-container {
  display: flex;
  justify-content: space-between;

  section.home-intro-svg-container {
    width: 40%;
    margin-left: 1em;
  }

  section.promo-text-container {
    width: 60%;
    padding-left: 3em;
    margin-right: 1em;

    margin: 0 auto;
  }
}
