@use "../../../../assets/styles/_colors" as colors;

.error-message {
  color: colors.$error-color;
  font-size: 0.8rem !important;
  margin: 0 auto;
  text-align: center;
  width: fit-content;
  border-radius: 9999px;
  height: fit-content;
}
