<article class="login-page-container">
  <section class="login-page-svg-container">
    <figure>
      <img src="assets/svgs/login.svg" alt="" />
    </figure>
  </section>
  <section class="login-form-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <input
        style="position: fixed; top: -100px; left: -100px; width: 5px"
        type="text"
        name="fakeusernameremembered"
      />
      <!--For Chrome auto complete-->
      <input
        style="position: fixed; top: -100px; left: -100px; width: 5px"
        type="password"
        name="fakepasswordremembered"
      /><!--For Chrome auto complete-->
      <input
        style="position: fixed; top: -100px; left: -100px; width: 5px"
        type="text"
        name="usernameremembered"
      />
      <!--For Chrome auto complete-->
      <input
        style="position: fixed; top: -100px; left: -100px; width: 5px"
        type="password"
        name="passwordremembered"
      /><!--For Chrome auto complete-->
      <div class="form-intro">
        <h1><a class="link" routerLink="/"> Mut1aq </a></h1>

        <h6>Welcome Back</h6>
        <h6>Please Enter your credentials</h6>
      </div>

      <div class="text-form-control">
        <label [ngClass]="{ 'stay-on-top': !email?.value?.trim() }" for="email"
          >Email</label
        >

        <input type="text" appPreventSpace formControlName="email" id="email" />
        <span class="bar"></span>

        <!-- @if (email?.invalid && (email?.dirty || email?.touched))
        {<app-form-control-errors
          [controlToValidate]="email"
          translationName="login.form.email"
        ></app-form-control-errors
        >} -->
      </div>
      <div class="text-form-control">
        <label
          [ngClass]="{ 'stay-on-top': !password?.value?.trim() }"
          for="password"
          >Password</label
        >
        <input
          [type]="isPasswordHidden ? 'password' : 'text'"
          id="password"
          appPreventSpace
          formControlName="password"
          autocomplete="new-password"
        />

        <span class="bar"></span>
        <figure (click)="showHidePassword()" class="show-hide-password">
          <img
            src="{{
              'assets/svgs/' +
                (isPasswordHidden ? 'hide' : 'show') +
                '-password-icon.svg'
            }}"
            alt="show hide password"
          />
        </figure>
        <!-- @if (password?.invalid && (password?.dirty || password?.touched))
        {<app-form-control-errors
          [controlToValidate]="password"
          translationName="login.form.password"
        ></app-form-control-errors
        >} -->
      </div>
      <div class="remember-forget">
        <div class="check-box-form-control">
          <input type="checkbox" name="" id="rememberMe" />
          <label for="rememberMe">Remember Me for 30 days</label>
        </div>
        <div class="forget">
          <a routerLink="/auth/forget-password" ariaCurrentWhenActive="page"
            >Forget Password?</a
          >
        </div>
      </div>

      <div class="login-button">
        <button type="submit" class="button">Login</button>
      </div>
    </form>
  </section>
</article>
