<!-- <div class="container">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h3>{{ "login.login" | translate }}</h3>

  <label for="email">{{ "login.form.email" | translate }}</label>
  <input
    type="text"
    [placeholder]="'login.form.email' | translate"
    id="email"
    formControlName="email"
  />
  @if (email?.invalid && (email?.dirty || email?.touched))
  {<app-form-control-errors
    [controlToValidate]="email"
    translationName="login.form.email"
  ></app-form-control-errors
  >}

  <label for="password">{{ "login.form.password" | translate }}</label>
  <input
    type="password"
    placeholder="Password"
    id="password"
    formControlName="password"
  />
  @if (password?.invalid && (password?.dirty || password?.touched))
  {<app-form-control-errors
    [controlToValidate]="password"
    translationName="login.form.password"
  ></app-form-control-errors
  >}

  <button type="submit">Login</button>
</form> -->
