<article class="courses-container">
  <section (click)="navigateToCourseDetail('1')" class="course-card">
    <div class="course-header-picture">
      <img src="assets/images/nestjs.svg" alt="Course Picture" />
    </div>
    <div class="course-header"><h2>NestJS</h2></div>
    <div class="course-info">
      <strong>150$ </strong>
      <strong>100 hours</strong>
    </div>
    <div class="course-actions">
      <a href="#" class="link">Student Reviews</a
      ><a href="#" class="link">Course Details</a
      ><a href="#" class="link">Enrol</a>
    </div>
  </section>
</article>
