$primary: #8710d8;
$secondary: #4a8179;

// Error, warn, success colors in clean, lean, modern style
$error-color: #cc0000;
$warning-color: #f39c12;
$success-color: #2ecc71;

// General
$black: #0d0d0d;
$white: #fff;
$grey: #f7f9fa;
$dark-grey: #8a8a8a;
